services:
  frontend:
    container_name: frontend
    depends_on:
      db:
        condition: service_healthy
        restart: true
    build:
      context: .
      dockerfile: Dockerfile
    command: sleep infinity
    ports:
      - 3000:3000

  db:
    container_name: postgres
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile.postgres
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432

  caddy:
    image: caddy
    container_name: caddy
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - 80:80
      - 443:443
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./caddy:/etc/caddy

volumes:
  caddy_data:
  caddy_config:
  postgres-data: