---
import ProfilePhoto from "~src/components/ProfilePhoto.astro";

interface Props {
    mp: {
        full_name: string | null;
        photo: string | null;
        party_id: string | null;
    };
}

const { mp } = Astro.props;
---

<article>
    <ProfilePhoto mp={mp} />
    <p>
        <strong>{mp.full_name}</strong>
        {mp.party_id}
        <br />
        <a href={`/edustaja/${mp.full_name || ""}`}>open mp page</a>
    </p>
</article>

<style>
    article {
        display: flex;
        flex-direction: row;
        gap: var(--pico-block-spacing-horizontal);
    }
</style>
