---
import MpRoundPhoto from "~src/components/MpRoundPhoto.astro";
import type { MPshort } from "~src/pages/edustajat/_utils";

interface Props {
    mps: MPshort[];
}

const { mps } = Astro.props;
---

<ul>
    {
        mps
            .sort((a, b) =>
                a.current_party_id.localeCompare(b.current_party_id)
            )
            .map((mp) => (
                <li>
                    <MpRoundPhoto mp={mp} />
                </li>
            ))
    }
</ul>

<style>
    ul {
        --overlap: 24px;
        padding-inline-start: unset;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-inline-start: var(--overlap);
    }
    ul > li {
        list-style: none;
        margin-inline-start: calc(0px - var(--overlap));
        transition:
            margin 300ms,
            transform 300ms;
    }
    ul > li:hover {
        margin-inline-end: var(--overlap);
        transform: scale(1.5);
    }
</style>
