---
import Layout from "~src/pages/edustajat/[memberOfParliament]/_layout.astro";
import { getMpStaticPaths } from "~src/pages/edustajat/[memberOfParliament]/_utils";
import MpStats from "~src/components/MpStats.astro";
import { db } from "~src/database";

export const getStaticPaths = getMpStaticPaths;

const { mp } = Astro.props;

const { start_date } = await db
    .selectFrom("election_seasons")
    .select("start_date")
    .orderBy("start_date", "desc")
    .executeTakeFirstOrThrow();
---

<Layout mp={mp}>
    <h1>Yleistä</h1>
    <MpStats mpId={mp.id} seasonStart={start_date} />
</Layout>
