---
import MPStats from "~src/components/MPStats.astro";
import { db } from "~src/database";
import Layout from "~src/pages/edustajat/[memberOfParliament]/_layout.astro";
import {
    getAttendance,
    getContraVoteScore,
    getMinisterialCareer,
    getMonthlyAttendanceTrend,
    getMpStaticPaths,
    getProposalsAuthoredAndPassRate,
    getVoteBreakdown,
} from "~src/pages/edustajat/[memberOfParliament]/_utils";

export const getStaticPaths = getMpStaticPaths;

const { mp } = Astro.props;

const seasons = await db.selectFrom("election_seasons").selectAll().execute();

/**
 * - filtteri per vaalikausi
 *
 * - läsnäolo
 *  - onko hyvä syy
 * - aloitteet
 *  - määrä
 *  - ministereille överi? filtteröi pois gov prop
 *  - läpimeno%
 * - puheenvuorot
 * - lobbaukset
 *
 */

const stats = {
    attendance: await getAttendance(mp.id),
    contra: await getContraVoteScore(mp.id),
    breakdown: await getVoteBreakdown(mp.id),
    monthlyTrend: await getMonthlyAttendanceTrend(mp.id),
    ministers: await getMinisterialCareer(mp.id),
    proposals: await getProposalsAuthoredAndPassRate(mp.id),
};
---

<Layout mp={mp}>
    <section>
        <h2>Yleistä</h2>
        <MPStats stats={stats} />
    </section>
</Layout>
