---
import Layout from "~src/layouts/BaseLayout.astro";

import { proposalData, urlencodeProposalId } from "~src/pages/esitykset/_utils";
import ProposalSignatures from "~src/components/ProposalSignatures.astro";

const data = await proposalData().limit(20).execute();
---

<Layout>
    <h1>Esitykset</h1>
    <ul>
        {
            data.map((proposal) => (
                <li>
                    <article>
                        <h2>{proposal.title}</h2>
                        <p>{proposal.summary}</p>
                        <p>allekirjoittaneet:</p>
                        <ProposalSignatures proposal={proposal} />
                        <a
                            href={`/esitykset/${urlencodeProposalId(proposal.id)}`}
                        >
                            Avaa esitys
                        </a>
                    </article>
                    <hr />
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    h2 {
        font-size: 1.25rem;
    }

    :global(main > ul) {
        padding-inline-start: unset;
    }
    :global(main > ul > li) {
        list-style: none;
    }

    article {
        --pico-card-box-shadow: initial;
        padding: 0;
        flex-direction: column;
        gap: var(--pico-block-spacing-horizontal);
    }
</style>
