---
import { db } from "~src/database";
import { groupBy } from "~src/utils";
import Layout from "~src/pages/edustaja/[memberOfParliament]/_layout.astro";
import { getAllMps } from "~src/pages/edustaja/[memberOfParliament]/_utils";

/** List all items of data that need a page generated for them */
export async function getStaticPaths() {
    const data = await getAllMps();
    return data.map((mp) => ({
        params: { memberOfParliament: mp.full_name || "" },
        props: { mp },
    }));
}

const { mp } = Astro.props;

const interests = mp
    ? await db
          .selectFrom("interests")
          .where("interests.mp_id", "=", mp.id)
          .where("interests.category", "in", [
              "Hallinto- ja luottamustehtävät yksityisissä yrityksissä, yhteisöissä sekä julkisyhteisöissä",
              "Valtion, kunnan ja muiden julkisyhteisöjen virat",
          ])
          .select(["interests.category", "interests.interest"])
          .execute()
    : [];

const groupedInterests = groupBy(interests, (i) => i.category ?? "");
---

<Layout mp={mp}>
    <section>
        {
            Object.entries(groupedInterests).map(([group, interests]) => (
                <section>
                    <strong>{group}</strong>
                    <ul>
                        {interests.map((int) => (
                            <li>{int.interest}</li>
                        ))}
                    </ul>
                </section>
            ))
        }
    </section>
</Layout>
