---
import { db } from "~src/database";
import BaseLayout from "~src/layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const data = await db
        .selectFrom("parliamentary_groups")
        .select(["id", "name"])
        .execute();
    return data.map((pg) => ({
        params: { pgName: pg.id },
        props: { pg },
    }));
}
---

<BaseLayout>
    <section>Jäsenet</section>
</BaseLayout>
