---
import Layout from "~src/layouts/Layout.astro";

import { db } from "~src/database";
import { Search } from "~src/components/MPSearch";
import { mpWithPhotoUrl } from "~src/utils";
import Logo from "~src/icons/logo.svg";

const data = await db
    .selectFrom("members_of_parliament")
    .leftJoin(
        "mp_party_memberships",
        "members_of_parliament.id",
        "mp_party_memberships.mp_id"
    )
    .where("mp_party_memberships.end_date", "is", null)
    .select([
        "members_of_parliament.id",
        "members_of_parliament.first_name",
        "members_of_parliament.last_name",
        "members_of_parliament.photo",
        "mp_party_memberships.party_id",
    ])
    .orderBy("members_of_parliament.last_name")
    .execute();

const mpsWithPhotoUrls = await mpWithPhotoUrl(data);
---

<Layout>
    <main>
        <h1>
            <Logo />
            Eduri
        </h1>
        <p>Tähän sit kontsaa</p>

        <Search client:load initial={mpsWithPhotoUrls} />
    </main>
</Layout>

<style is:global>
    svg {
        display: block;
        --side: 84px;
        width: var(--side);
        height: var(--side);
        margin-bottom: -0.2em;
    }
    article {
        --pico-card-box-shadow: initial;
        display: flex;
        flex-direction: row;
        gap: var(--pico-block-spacing-horizontal);
    }
    .missing {
        height: 150px;
        width: 100px;
        background-color: #ccc;
    }
    ol {
        padding-inline-start: unset;
    }
    li {
        list-style: none;
    }
    img {
        height: revert-layer;
        object-fit: cover;
    }
    .party {
        background-color: var(--background);
        color: var(--text);
        display: inline-block;
        text-align: center;
        margin-inline: 0.5em;
        padding: 0em 0.4em;
        border-radius: 0.125em;
        min-width: 1em;
    }
</style>
