---
import Layout from "~src/layouts/Layout.astro";

import { db } from "~src/database";
import { Search } from "~src/components/MPSearch";
import { mpWithPhotoUrl } from "~src/utils";

const data = await db
    .selectFrom("members_of_parliament")
    .leftJoin(
        "mp_party_memberships",
        "members_of_parliament.id",
        "mp_party_memberships.mp_id"
    )
    .where("mp_party_memberships.end_date", "is", null)
    .select([
        "members_of_parliament.id",
        "members_of_parliament.first_name",
        "members_of_parliament.last_name",
        "members_of_parliament.photo",
        "mp_party_memberships.party_id",
    ])
    .orderBy("members_of_parliament.last_name")
    .execute();

const mpsWithPhotoUrls = await mpWithPhotoUrl(data);
---

<Layout>
    <main>
        <h1>Eduri</h1>
        <p>Tähän sit kontsaa</p>

        <Search client:load initial={mpsWithPhotoUrls} />
    </main>
</Layout>

<style is:global>
    article {
        display: flex;
        flex-direction: row;
        gap: var(--pico-block-spacing-horizontal);
    }
    .missing {
        height: 150px;
        width: 100px;
        background-color: #ccc;
    }
    ol {
        padding-inline-start: unset;
    }
    li {
        list-style: none;
    }
    img {
        height: revert-layer;
        object-fit: cover;
    }
</style>
