---
import BaseLayout from "~src/layouts/BaseLayout.astro";
import Parliament from "~src/icons/parliament.svg";
import Proposal from "~src/icons/proposal.svg";

const iconSize = 130;
---

<BaseLayout>
    <h1>Eduri</h1>
    <p>
        Liirum laarum eduri on hyvä platta kantsii käyttää nopee. Selaa
        edustajia tai esityksiä tai jotai.
    </p>
    <p>tähä sit kontsaa</p>

    <section>
        <a href="/edustajat">
            <Parliament height={iconSize} width={iconSize} />
            <h2>Edustajat</h2>
        </a>
        <a href="/esitykset">
            <Proposal height={iconSize} width={iconSize} />
            <h2>Esitykset</h2>
        </a>
    </section>
</BaseLayout>

<style>
    :global(main) {
        display: flex;
        flex-direction: column;
    }
    h1 {
        align-self: center;
        font-size: 3rem;
    }
    :global(h1 svg) {
        display: block;
        --side: 124px;
        width: var(--side);
        height: var(--side);
    }

    section {
        margin-block-start: 2rem;
        display: flex;
        gap: 8rem;
        justify-content: center;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
